:root {
  /* Текст колор */
  --main-font: 'Roboto';
  --sacondary-font: 'Raleway';
  --title-text-color: #212121;
  --primery-text-color: #757575;

  /* Бэкграунд колор */
  --primery-white-color: #ffffff;
  --accent-text-color: #2196f3;
  --sacondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --button-hover: #188ce8;
}

body {
  background-color: var(--primery-white-color);
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header {
  background: var(--primery-white-color);
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}
.site-nav-list {
  display: flex;
  /* margin-right: auto; */
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* .site-nav-list:hover,
.site-nav-list:focus{color: var(--accent-text-color);

} */
/* .site-nav-list:last-child {
  margin-right:o;
} */
.section1 {
  /* padding-top:94px; */
  padding-bottom: 94px;
}
.section2 {
  background-color: var(--primery-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.section3 {
  background: var(--sacondary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
  /* display: flex; */
}
.image {
  display: flex;
}
.image-item-post {
  display: flex;
}

.image1 {
  display: flex;
}
.image2 {
  display: flex;
}

.Igor :not(:last-child) {
  margin-right: 30px;
}
.text-igor {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.personal:not(:last-child) {
  margin-right: 30px;
}

.item-post {
  /* margin-right: 30px; */
  width: 270px;
}

.item-post:not(:last-child) {
  margin-right: 30px;
}

/*site-nav*/

.site-nav.link {
  color: var(--title-text-color);
}
.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
}
.link1 {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  margin-right: 50px;

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.link2 {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.link3 {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  margin-right: o;

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.link1:hover,
.link1:focus,
.link2:hover,
.link2:focus,
.link3:hover,
.link3:focus {
  color: var(--accent-text-color);
}

.mail1:hover,
.mail1:focus {
  color: var(--accent-text-color);
}
.mail2:hover,
.mail2:focus {
  color: var(--accent-text-color);
}
.auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: flex;
  margin-left: auto;
  align-items: center;
}
.auth-nav1:not(:last-child) {
  margin-right: 30px;
}
/*button*/

.button {
  color: currentColor;
  font-family: inherit;
  border: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 94px;
}
.button-child:not(:last-child) {
  margin-right: 8px;
}

.button-primary {
  background-color: var(--accent-text-color);
  color: var(--primery-white-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  width: 73px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  margin-bottom: 50px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.button-primary1 {
  background-color: var(--accent-text-color);
  color: var(--primery-white-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--button-hover);
}
.button-secondary {
  background-color: var(--sacondary-background-color);
  font-family: inherit;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  margin-left: 8px;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 50px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.about {
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 30px;
}



/*Контакты*/

.mail1 {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  /* margin-right: 30px; */
  margin-top: 32px;
  margin-bottom: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.mail2 {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  /* margin-right: 215px; */
  display: block;
}
.mail-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  text-decoration: none;
  
}
.contact-footer :not(:last-child) {
  margin-bottom: 9px;
}
.mail-footer1 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  text-decoration: none;
 
}
.contact-footer {
  display: inline;
}

a {
  display: inline-block;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  text-decoration: none;
  /* margin-left: 215px; */
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo1 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  text-decoration: none;
  /* margin-left: 215px; */
  /* margin-top: 60px; */
  margin-bottom: 20px;
}
.logo-studio {
  color: var(--dark-background-color);
}
.logo-studio-footer {
  color: var(--primery-white-color);
}

.footer {
  background: var(--dark-background-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
}
.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
  /* margin-left: 215px; */
  margin-bottom: 9px;
}
.post {
  margin-bottom: 50px;
}

.post-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--title-text-color);
  /* padding-left: 60px; */
  /* padding-right: 59pxpx;
  padding-top: 30px; */
  margin-bottom: 4px;
  margin-top: 20px;
}
.post-title1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--title-text-color);
  padding-left: 60px;
  padding-right: 59pxpx;
  padding-top: 30px;
}
.post-text {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.71;
  color: var(--primery-text-color);
  /* padding-right: 69pxpx; */
}

.post-link {
  text-decoration: none;
  margin-right: 20px;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}
.zagolovok {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-white-color);
  width: 696px;
  height: 120px;
  margin-bottom: 30px;
  margin-left: 217px;
}
.solutions {
  background: var(--dark-background-color);
  position: left;
  padding-top: 200px;

  padding-bottom: 280px;
  text-align: center;
}
.post {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.navigation {
  display: flex;
}

.main {
  display: flex;
  flex-wrap: wrap;
}
.div1 {
  padding-bottom: 4px;
  padding-top: 4px;
  padding-right: 24px;
  padding-left: 24px;
  border-right: 10px;
  border-bottom: 10px;
  border-left: 10px;
}
